.resultContainer{
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-areas:  "one two three";
    grid-template-columns:  1fr auto 1fr;
    @media(max-width: 900px) {
        padding-top: 15%;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "one three"
        "two two";
    }
    .rock, .paper, .scissors, .spock, .lizard {
        z-index: 1;
        position: relative;
        top: 0;
        left: 0;
        right:0;
        transform: scale(150%);
        @media(max-width: 1050px) {
             transform: scale(100%);
        }
        @media(max-width: 550px) {
            transform: scale(90%);
       }
    }
  
    
}

.result{
    grid-area: two;
    min-width:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 3vw;
    text-align: center;
    z-index: 1;
    animation: appear 0.5s cubic-bezier(0, 1.17, 0.4, 2.65) forwards 0.45s;
   @media(max-height: 900px) {
    animation: appear 0.5s cubic-bezier(0.04, 0.57, 0.37, 1.73) forwards 0.45s;
   }
   
   div{
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: white;
    transition: width 1s;
    @media(max-width:900px){
        margin-top:0;
    }
   
    
   }
   button{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 30px;
    min-width: 127px;
    height: 50px;
    width: 150px;
    border:none;
    background-color: #fff;
    border-radius: 5px;
    color: #192643;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 9px;
    text-align: center;
    &:hover{
        box-shadow: 0 0 7px white;
        color:hsl(229, 64%, 46%);
        transition: color 0.5s;
    }
    @media(max-width:550px) {
        width:100%;
    }
   }
}

@keyframes appear {
    0%{
        transform: scale(0);
    }
    75% {
        transform: scale (200%);
    }
    100%{
        transform: scale(100%)
    }
    
}
.player, .computer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 900px) {
        flex-direction: column-reverse;
   }
}
.resultHeader{
    z-index: 74;
    color: white;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    @media(max-width: 900px) {
        margin-top: 20px;
        font-size: 16px;
   }
}

.player {
    grid-area: one;
    &.winner{  
        grid-area: one;  
    .outerCircle{ 
        &::after{
        background-color: #28456c;
        border-radius: 100%;
        width:100%;
        bottom: 4%;
        height:100%;
        content: "";
        position: absolute;
        z-index: -1;
        animation: pulse 1.5s ease-out infinite;}
   
}
svg{
    animation: iconHover 0.6s ease-in-out infinite alternate
}
}}

.computer { 
    grid-area:three;
    &.winner{
        grid-area:three;
        .outerCircle{ 
        &::after{
        background-color: #28456c;
        border-radius: 100%;
        width:100%;
        bottom: 4%;
        height:100%;
        content: "";
        position: absolute;
        z-index: -1;
        animation: pulse 1.5s ease-out infinite;
    }
    
   
}
svg{
    animation: iconHover 0.6s ease-in-out infinite alternate
}
}   
.resultHeader{
    @media(max-width: 900px) {
        margin-right: 20px;
        min-width: 166px;
        
   } 
}
}

